body,html {
	height: 100%;
	font-family: 'Overpass Mono', monospace;
	overflow: hidden;
}

h1,h2,h3,p,span {
	text-align: center;
	margin-left: 500px;
	color: white;
}

h1,h2,h3{
	font-size: 60px;
}

#sidebar-wrap {
	z-index: 1;
	position: fixed;
	width: 500px;
	height: 100%;
	overflow-y: hidden;
	background: #000;
}

#page-wrap{
	width: 100%;
	position: absolute;
}

.sidebar-nav{
	list-style: none;
	margin:auto;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
	padding-top: 100px;

}

.sidebar-nav li a{
	display: block;
	margin-left: -40px;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 30px;
	transition: 0.5s;
	
}

.sidebar-nav li a:hover{
	background: black;
	opacity: 0.2;
	transition: 0.5s;
	
}
.spanalign {
	display: block;
	margin-left: -40px;
	text-align: center;
}

.bigtext {
	font-size: 50px;
}

.smalltext {
	margin:auto;
	font-size: 40px;
}

#first-row {
	height: 1000px;
	background-color: #030425; /* Blå färg kod*/
}

#second-row {
	height: 1000px;
	background-color: #002613; /* Grön färg kod*/
}

#third-row{
	height: 1000px;
	background-color: #250023; /* lila färg kod*/
}

#checkmark{
	color:green;
	font-size: 30px;
}

#cross{
	color: red;
	font-size: 30px;
}



#bildwrap{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 500px;
	border-width: 10px;
	border-style: hidden;
}

#bildwrap div img {
	width: 200px;
	height: 200px;

}
