body,html {
	height: 100%;
	font-family: 'Overpass Mono', monospace; 
	overflow: hidden;
}

h1,h2,h3,p,span {
	text-align: center;
	margin-left: 500px;
	color: white;
	text-shadow: 4px 1px black;
}

h1,h2,h3{
	font-size: 60px;
}
/* Keep 20px font size*/
p {
	font-size: 20px; 
}


#sidebar-wrap {
	z-index: 1;
	position: fixed;
	width: 500px;
	height: 100%;
	overflow-y: hidden;
	background: #000;
}

#page-wrap{
	width: 100%;
	position: absolute;
}

.sidebar-nav{
	list-style: none;
	margin:auto;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
	padding-top: 100px;

}

.sidebar-nav li a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 30px;
	padding-left:  -60px;
	opacity: 0.8;
	transition: 0.2s;
	
}

.sidebar-nav li a:hover{
	background: black;
	opacity: 1;
	
}
.spanalign {
	display: block;
	margin-left: -40px;
	text-align: center;
}

.bigtext {
	font-size: 50px;
}

.smalltext {
	margin:auto;
	font-size: 40px;
}

#first-row {
	height: 1000px;
	background-color: #030425; /* Blå färg kod*/
}

#second-row {
	height: 1000px;
	background-color: #002613; /* Grön färg kod*/
}

#third-row{
	height: 1000px;
	background-color: #250023; /* lila färg kod*/
}

#checkmark{
	color:#39FF14;
	font-size: 30px;
	opacity: 1;
}

#cross{
	color: red;
	font-size: 30px;
	opacity: 1;
}


.carowrap {
	margin: auto;
	padding-left: 500px;
}

img {
	margin:auto;
	height: 400px;
	width: 650px;

}

.caroColour{
	font-style: black;
}

.carousel-caption{
	margin-left: -500px;
}
.glyphicon{
	margin-left: -500px;
}

.carousel-caption p{
	font-size: 30px;
}

#ree{
	text-decoration: black line-through;
}

#captionColour{
	color: white;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}