body,html {
	height: 100%;
}

#sidebar-wrap {
	z-index: 1;
	position: fixed;
	width: 500px;
	height: 100%;
	overflow-y: hidden;
	background: #000;
	

}

#page-wrap{
	width: 100%;
	position: absolute;
	
}

.sidebar-nav{

	list-style: none;
	margin:auto;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;

}

.sidebar-nav li a{
	display: block;
	margin-left: -40px;
	text-align: center;
	text-decoration: none;
	color: white;
	
}

.sidebar-nav li a:hover{
	background: black;
	opacity: 0.2;
	
}

h2,p  {
	text-align: center;
	margin-left: 500px;
	color: white;
	
}

#first-row {
	height: 1000px;
	background-color: #030425; /* Blå färg kod*/
}

#second-row {
	height: 1000px;
	background-color: #002613; /* Grön färg kod*/
}

#third-row{
	height: 1000px;
	background-color: #250023; /* lila färg kod*/
}

